{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block content %}
<section id="content" class="article content" itemscope itemtype="https://schema.org/Recipe">
  <header>
    <h2 class="entry-title" itemprop="name">
      {{ article.title }}
    </h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    <div class="text-muted">{{ article.locale_date }}</div>
  </header>
  <!-- .entry-content -->
  <div class="entry-content">
    <span itemprop="description">
      {{ article.summary | striptags }}
    </span>
    {{ article.content }}
  </div>
  <!-- /.entry-content -->
  <footer class="post-info text-muted">
    <button type="button" class="btn btn-default">
      <a href="{{ SITEURL }}/{{ article.category.url }}">
        {{ article.category }}
      </a>
    </button>
    {% if article.tags %}
    {% for tag in article.tags %}
    <button type="button" class="btn btn-default">
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    </button>
    {% endfor %}
    {% endif %}
  </footer>
  <!-- /.post-info -->
  {% include 'disqus.html' %}
</section>
{% endblock %}
