{% extends "index.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
{% block navclass %}{%endblock%}
{% block archclass %} class="active"{%endblock%}
{% block content_title %}
<ol class="breadcrumb">
  <li><a href="{{SITEURL}}">Home</a></li>
  <li><a href="{{SITEURL}}/categories.html">
      Categories <span class="badge">{{ categories|count }}</span>
    </a></li>
  <li class="active">
    {{ category }} <span class="badge">{{ articles|count }}</span>
  </li>
</ol>
{% endblock %}
