{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Categories{% endblock %}
{% block archclass %} class="active"{%endblock%}
{% block content %}
<ol class="breadcrumb">
  <li><a href="{{SITEURL}}">Home</a></li>
  <li class="active">Categories <span class="badge">{{ categories|count }}</span></li>
</ol>

<ul class="list-inline">
  {%- for category, articles in categories|sort %}
  <li>
    <button type="button" class="btn btn-default">
      <a href="{{ SITEURL }}/{{ category.url }}">
        {{ category }} <span class="badge">{{ articles|count }}</span>
      </a>
    </button>
  </li>
  {% endfor %}
</ul>
{% endblock %}
