{% extends "base.html" %}
{% block navclass %}active{%endblock%}
{% block content %}
<section id="content" class="content">
  {% block content_title %}
  {% endblock %}
  {% for article in articles_page.object_list %}
  <div class="row">
    <div class="col-sm-3">
      <span class="text-muted">{{ article.date|strftime('%Y-%m-%d') }}</span>
    </div>
    <div class="col-sm-9">
      <p>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{
          article.title|striptags }}</a>
        <br />
        {{ article.summary|striptags }}
      </p>
    </div>
  </div>
  {% endfor %}
  {% include 'pagination.html' %}
</section>
<!-- content -->
{% endblock content %}
